 #portada{
 	background-image: url(portada1.png);
 	background-size:cover;
 	color:white;
 }

 .circulo{
 	width: 200px;
 	height: 200px;
 	border-radius: 100px;
 	display: block;
 	position: absolute;
 	top: 250px;
 	right: 230px;
 	background-color: #145372;
 	font-size: 20px;
 	color: white;
 	opacity: 0.5;
 	cursor: pointer;
 	border: none;

 }

 .Cuadrado {
    width: 517px;
    height: 80px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(to left,#145372, grey);
    display: block;
    position: relative;
    right: -700px;
    bottom:594px;
    opacity: 0.5;
}
 .menu {
 	display: inline-block;
 	right: -650px;
 	font-size: 24px;
 	position: relative;
 	z-index: 100;
 }

 .menu li{
 	display: inline-block;
 	margin-left: 50px;
 	text-decoration: none;
 	color:white;
 }

 .menu a{
 	text-decoration: none;
 	color: white;
 	font-family: "Arial";
 }

.titulo {
	font-size: 70px;
	margin-top: 400px;
	margin-left: 700px;	
	margin-bottom: 0px;
	font-family: "Arial";

	
}

.subtitulo{
	margin-left: 700px;	
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: "Arial";
	font-size: 33px;


}
.titulob{
	margin-left: 50px;
	color:#145372;
	font-family: "Arial";
	font-size: 33px;
}
.texto1{
	margin-left: 50px;
	color:#145372;
	font-family: "Arial";
}

button{
	font-family: "Arial";
	font-size: 14px;
}

.boton1{
	background-color:#145372;
	color: white;
	border-radius:100px;
	height: 200px;
	position: relative;
    right: -300px;
    top: 100px;
    cursor: pointer;
    z-index: 3;
}
.boton2{
	background-color:#145372;
	color: white;
	border-radius:100px;
	height: 200px; 
	position: relative;
    right: -290px;
    top: 370px;
    cursor: pointer;
    z-index: 3;
}
.boton3{
	background-color:#145372;
	color: white;
	border-radius:100px; 
	height: 190px;
	position: relative;
    right: -200px;
    top: 600px;
    cursor: pointer;
    z-index: 3;

}

.mapa img{

	display: block;
    position: relative;
    right: -500px;
    width: 600px;
    top: -100px;
    height: 700px;
}

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #145372;
	color: white;
	font-family: "Arial";
}

.logo img {
	width: 160px;
	position: relative;
	right: -100px;
	opacity: 0.5;

}
.logo a{
	text-decoration: none;
	color: white;
	display: flex;
	padding-left: 100px;
}
.logo strong{
	display: block;
	margin-right: 20px;
}
.col1{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	width: 200px;
	padding-left: 300px;

}
.col1 label{
	margin-top: 20px;
}
.col2{
	display: flex;
	flex-direction: column;
	padding-right: 100px;
	padding-top: 20px;
}
.col2 input{
	border-radius: 5px;
	width: 70px;
	margin-top: 5px;

}
#comentarios{
	margin-top: 20px;

